<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$">
            <th scope="row">{{ product.ProductsID }}</th>
            <td>{{ product.ProductCode }}</td>
            <td>{{ product.ProductDescriptionOriginal}}</td>
            <td>{{ product.ProductCategory}}</td>
            <td>{{ product.ProductStatus }}</td>
            <td>
                <button class="btn btn-info">
                    Edit
                </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteProduct(product)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>