<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="h2 Smollan-dark-blue-text ">Product Management</div>  
</div>

<app-product-table></app-product-table>
