
<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow navbar-top-gradient">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 Smollan-dark-blue " routerLink="/">DO Assessment</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/">Sign out</a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
         </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/products">
              <span data-feather="home"></span>
              Product Management (CRUD)
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>




